<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/Community1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<body>
  <header>
    <div class="company-logo">TFH</div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/Home" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
        <li class="nav-item"><a href="/About" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">LOG IN</a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
  </header>
  <main>
    <!-- HOME SECTION -->
    <section class="container section-1">
      <div class="slogan">
        <h1 class="company-title" style="margin-left: 40rem; font-size: 2.5rem; text-align: center;">BLOG</h1>
        <h2 class="company-slogan"> 
        </h2>
      </div>
      <div class="home-computer-container">
      </div>
    </section>
    <!-- OFFER SECTION -->
    <section class="container section-2">
      <!-- offer 1 -->
      <div class="offer offer-1">
        <img src="static/images/Technology2.png" alt="a computer in dark with with white shadow" class="offer-img offer-1-img">
        <div class="offer-description offer-desc-1">
          <h2 class="offer-title">Experience&nbsp;with&nbsp;Beats&nbsp;2.O</h2>
          <section class="container section-5">
            <div class="containerDetails">
              <div class="box" style="background-image: url(static/images/men2.jpg);background-size: cover;">
                <div class="text">Josh&nbsp;Stan<p style="font-size: 0.8rem;">12.00PM</p></div>
              </div>
              <p class="offer-hook">Superb Watch Under This price Range.......
                Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                <br>
              <br>
              <fieldset class="actions">
                  <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
              </fieldset>
          </div>
          </section>
          <!--<div class="cart-btn">ADD TO CART</div>--->
        </div>
      </div>
      <!-- offer 2 -->
      <div class="offer offer-2">
        <img src="static/images/Technology3.png" class="offer-img offer-2-img">
        <div class="offer-description offer-desc-2">
          <h2 class="offer-title">Noise Colorfit Icon 2</h2>
            <section class="container section-5">
              <div class="containerDetails">
                <div class="box" style="background-image: url(static/images/men4.jpg);background-size: cover;">
                  <div class="text">Alex&nbsp;Hugemen<p style="font-size: 0.8rem;">5.21PM</p></div>
                </div>
                <p class="offer-hook">Superb Watch Under This price Range.......
                  Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                  <br>
                <fieldset class="actions">
                  <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
              </fieldset>
              <div id="post-container">
              </div>
            </div>
            </section>
        </div>
      </div>
      <div class="offer offer-1">
        <img src="static/images/photo2.png" alt="a computer in dark with with white shadow" class="offer-img offer-1-img">
        <div class="offer-description offer-desc-1">
          <h2 class="offer-title" style="text-align: center;">Dell Alienware</h2>
          <section class="container section-5">
            <div class="containerDetails">
              <div class="box" style="background-image: url(static/images/men8.jpg);background-size: cover;">
                <div class="text">Aaron&nbsp;Samon<p style="font-size: 0.8rem;">10.00AM</p></div>
              </div>
              <p class="offer-hook">Superb Watch Under This price Range.......
                Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                <br>
              <fieldset class="actions">
                <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
            </fieldset>
            <div id="post-container">
            </div>
          </div>
          </section>
          <!--<div class="cart-btn">ADD TO CART</div>--->
        </div>
      </div>
      <div class="offer offer-2">
        <img src="static/images/Technology7.png" class="offer-img offer-2-img">
        <div class="offer-description offer-desc-2">
          <h2 class="offer-title">Apple Macair 2022</h2>
            <section class="container section-5">
              <div class="containerDetails">
                <div class="box" style="background-image: url(static/images/men5.jfif);background-size: cover;">
                  <div class="text">Steve&nbsp;Butler<p style="font-size: 0.8rem;">8.30PM</p></div>
                </div>
                <p class="offer-hook">Superb Watch Under This price Range.......
                  Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                  <br>
                <fieldset class="actions">
                  <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
              </fieldset>
              <div id="post-container">
              </div>
            </div>
            </section>
        </div>
      </div>
      <div class="offer offer-1">
        <img src="static/images/Technology8.png" alt="a computer in dark with with white shadow" class="offer-img offer-1-img">
        <div class="offer-description offer-desc-1">
          <h2 class="offer-title" style="text-align: center;">Asus GTx4 </h2>
          <section class="container section-5">
            <div class="containerDetails">
              <div class="box" style="background-image: url(static/images/men4.jfif);background-size: cover;">
                <div class="text">Allen&nbsp;Hockmen<p style="font-size: 0.8rem;">10.15AM</p></div>
              </div>
              <p class="offer-hook">Superb Watch Under This price Range.......
                Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                <br>
              <fieldset class="actions">
                <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
            </fieldset>
            <div id="post-container">
            </div>
          </div>
          </section>
          <!--<div class="cart-btn">ADD TO CART</div>--->
        </div>
      </div>
      <div class="offer offer-2">
        <img src="static/images/Technology6.png" class="offer-img offer-2-img">
        <div class="offer-description offer-desc-2">
          <h2 class="offer-title">Boult Immortal 1.O</h2>
            <section class="container section-5">
              <div class="containerDetails">
                <div class="box" style="background-image: url(static/images/men.jpg);background-size: cover;">
                  <div class="text">Jack&nbsp;Hugemen<p style="font-size: 0.8rem;">1&nbsp;Week&nbsp;Ago</p></div>
                </div>
                <p class="offer-hook">Superb Watch Under This price Range.......
                  Value for Money..... having nice or bright Display in outdoors..... Like this Product</p>
                  <br>
                <fieldset class="actions">
                  <button id="submit"><a href="/index" style="color: whitesmoke; margin-bottom: 0%;">Comment</a></button>
              </fieldset>
              <div id="post-container">
              </div>
            </div>
            </section>
        </div>
      </div>
    </section>

    <!-- PRODUCT SECTION -->
    <!-- SPONSOR SECTION -->
    <section class="container section-4">
      <!-- SPONSOR group 1 -->
      <div class="sponsor sponsor-1"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/microsoft.svg" alt=""></div>
      <div class="sponsor sponsor-2"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/apple.svg" alt=""></div>

      <!-- SPONSOR group 2 -->
      <div class="sponsor sponsor-3"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/dell.svg" alt=""></div>
      <div class="sponsor sponsor-4"><img src="https://raw.githubusercontent.com/r-e-d-ant/Computer-store-website/b90ac65459206fef22e9b87313f587185554263b/assets/images/ibm.svg" alt=""></div>
    </section>

    <!-- SUBSCRIBE SECTION-->
    <section class="container section-5">
      <h2 class="subscribe-input-label" style="color: white;">ASK YOUR QUERY</h2>
      <div class="subscribe-container">
        <input type="text" id="email-subscribe" placeholder="Search">
        
      </div>
    </section>
  </main>
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Web</h1>
      <ul>
        <li><a href="/About" style="color: rgba(255, 255, 255, 0.395);">About</a></li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li><a href="/Community" style="color: rgba(255, 255, 255, 0.45);">BLog</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>Laptop</li>
        <li>Headphone</li>
        <li>Speaker</li>
        <li>Desktop</li>
        <li>More..</li>
      </ul>
    </div>
    
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>Dell</li>
        <li>Asus</li>
        <li>Apple</li>
        <li>IBM</li>
        <li>More..</li>
        
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="static/images/facebook.png" style="width: 35px;"></li>
        <li><img src="static/images/twiter.png"  style="width: 43px;"></li>
        <li><img src="static/images/instagram.png" style="width: 36px;"></li>
      </ul>
    </div>
  <div class="clearfix">
  </div>
  </div>
  <h2 style="color: rgba(255, 255, 255, 0.537); font-size: 0.8rem; text-align: center;padding: 2rem 2rem;">© Copyright 2023 Powered by TECH FUSION HUB</h2>
  </div>
</body>
<!-- partial -->
  <script  src="static/js/Community2.js"></script>
</body>
</html>
